/* CSS files add styling rules to your content */
* {
    box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
}

body {
    display: flex;
    flex-direction: column;
    font-family: helvetica, arial, sans-serif;
    min-height: 120vh;
    flex: 1;
  }
  
  h1 {
    font-family: 'Kaushan Script', cursive;
    font-style: italic;
    color: #000;
  }

  h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 1.6em;
  }

  section {
    padding: .5em 0;
  }

  footer {
    height: 15em;
    background-color: rgb(89, 14, 104);
  }

  section > p {
    max-width: 50em;
    min-width: 20em;
  }

  a {
    color: rgb(31, 17, 48);
  }

  a:hover {
    color: rgb(49, 105, 228)
  }
  
  #song-player {
    position: absolute;
    top: 0;
    left: 70%;
    width: 30%;
    min-width: 200px;
    height: 100px;
    opacity: .8;
  }

  #img-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: 
      linear-gradient(
          rgba(89, 14, 104, .60),
          rgba(89, 14, 104, .60)
      ),
      url("../img/guitar-black-white.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
  }
  
  #image {
    width: 30%;
    height: auto;
    min-width: 300px;
    align-self: center;
    border-radius: 20%;
    padding: 1.0em 1.5em 0;
    margin-top: 2em;
    opacity: .75;
  }

  #img-caption {
      align-self: center;
      font-size: 14px;
      text-align: center;
      color: rgb(230, 223, 223);
  }

  #title {
      text-align: center;
  }

  #tribute-info {
    align-self: center;
  }

  #copy-text {
    padding: 2em;
    text-align: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 0 5em;
  }

  .footerElements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5em;
  }

  .toTop > img {
    float: right;
    padding: 1em;
    width: 60px;
  }

  .brandIcons {
    display: flex;
    flex-direction: row;
    width: 11em;
    justify-content: center;
  }
  
  div.brandIcons > img {
    padding: 10px;
    cursor: pointer;
  }

  /*Media Queries*/
  @media (max-width: 600px) {
    #song-player {
      position: inherit;
      width: 100%;
      height: 100px;
      order: 2;
    }

    div #img-div {
      order: 1;
    }

    div.container {
      order: 3;
    }

    footer {
      order: 4;
    }
  }
  
  @media (min-width: 768px) {
    
  }
  
  @media (min-width: 992px) {
    
  }
  
  @media (min-width: 1200px) {
    img {
      max-width: 800px;
    }
  }
  